@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient-x {
    background-size: 300% 300%;
    animation: gradient-x 15s ease infinite;
  }
  

.container {
    position: absolute;
    top: 100px;
    left: 100px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .moving-text {
    position: absolute;
    display: inline-block;
    padding: 8px 16px;
    color: red;
    border: 2px solid black;
    font-size: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    white-space: nowrap;
    animation: move 10s linear infinite, flash 1s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(0%, 0%);
    }
    2% {
      transform: translate(40%, 50%);
    }
    4% {
      transform: translate(80%, 100%);
    }
    6% {
      transform: translate(20%, 70%);
    }
    8% {
      transform: translate(60%, 10%);
    }
    10% {
      transform: translate(30%, 90%);
    }
    12% {
      transform: translate(50%, 20%);
    }
    14% {
      transform: translate(90%, 80%);
    }
    16% {
      transform: translate(10%, 30%);
    }
    18% {
      transform: translate(70%, 60%);
    }
    20% {
      transform: translate(0%, 0%);
    }
    22% {
      transform: translate(80%, 20%);
    }
    24% {
      transform: translate(40%, 90%);
    }
    26% {
      transform: translate(70%, 10%);
    }
    28% {
      transform: translate(30%, 60%);
    }
    30% {
      transform: translate(90%, 40%);
    }
    32% {
      transform: translate(20%, 80%);
    }
    34% {
      transform: translate(60%, 30%);
    }
    36% {
      transform: translate(10%, 50%);
    }
    38% {
      transform: translate(50%, 0%);
    }
    40% {
      transform: translate(0%, 100%);
    }
    42% {
      transform: translate(90%, 70%);
    }
    44% {
      transform: translate(30%, 20%);
    }
    46% {
      transform: translate(70%, 80%);
    }
    48% {
      transform: translate(40%, 40%);
    }
    50% {
      transform: translate(100%, 100%);
    }
    52% {
      transform: translate(20%, 10%);
    }
    54% {
      transform: translate(80%, 60%);
    }
    56% {
      transform: translate(10%, 90%);
    }
    58% {
      transform: translate(50%, 30%);
    }
    60% {
      transform: translate(90%, 0%);
    }
    62% {
      transform: translate(30%, 50%);
    }
    64% {
      transform: translate(70%, 20%);
    }
    66% {
      transform: translate(0%, 70%);
    }
    68% {
      transform: translate(60%, 40%);
    }
    70% {
      transform: translate(100%, 0%);
    }
    72% {
      transform: translate(40%, 80%);
    }
    74% {
      transform: translate(80%, 30%);
    }
    76% {
      transform: translate(20%, 0%);
    }
    78% {
      transform: translate(50%, 50%);
    }
    80% {
      transform: translate(90%, 90%);
    }
    82% {
      transform: translate(30%, 40%);
    }
    95% {
        transform: translate(0%, 0%);
      }
    }
  
  
  @keyframes flash {
    0%, 100% {
      color: red;
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    }
    50% {
      color: black;
      text-shadow: 1px 1px 0 red, -1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red;
    }
  }
  