@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient-x {
    background-size: 300% 300%;
    animation: gradient-x 15s ease infinite;
  }
  

.container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: none;
  }
  
  .moving-text {
    position: absolute;
    display: inline-block;
    padding: 8px 16px;
    color: red;
    border: 2px solid black;
    font-size: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    white-space: nowrap;
    animation: move 30s linear infinite, flash 1s linear infinite;
  }
  
  @keyframes move {
  0% {
    transform: translate(5vw, 5vh);
  }
  2% {
    transform: translate(30vw, 70vh)
  }
  4% {
    transform: translate(80vw, 100vh);
  }
  6% {
    transform: translate(20vw, 70vh);
  }
  8% {
    transform: translate(60vw, 10vh);
  }
  10% {
    transform: translate(30vw, 90vh);
  }
  12% {
    transform: translate(50vw, 20vh);
  }
  14% {
    transform: translate(90vw, 80vh);
  }
  16% {
    transform: translate(10vw, 30vh);
  }
  18% {
    transform: translate(70vw, 60vh);
  }
  20% {
    transform: translate(0vw, 0vh);
  }
  22% {
    transform: translate(80vw, 20vh);
  }
  24% {
    transform: translate(40vw, 90vh);
  }
  26% {
    transform: translate(70vw, 10vh);
  }
  28% {
    transform: translate(30vw, 60vh);
  }
  30% {
    transform: translate(90vw, 40vh);
  }
  32% {
    transform: translate(20vw, 80vh);
  }
  34% {
    transform: translate(60vw, 30vh);
  }
  36% {
    transform: translate(10vw, 50vh);
  }
  38% {
    transform: translate(50vw, 0vh);
  }
  40% {
    transform: translate(0vw, 100vh);
  }
  42% {
    transform: translate(90vw, 70vh);
  }
  44% {
    transform: translate(30vw, 20vh);
  }
  46% {
    transform: translate(70vw, 80vh);
  }
  48% {
    transform: translate(40vw, 40vh);
  }
  50% {
    transform: translate(100vw, 100vh);
  }
  52% {
    transform: translate(20vw, 10vh);
  }
  54% {
    transform: translate(80vw, 60vh);
  }
  56% {
    transform: translate(10vw, 90vh);
  }
  58% {
    transform: translate(50vw, 30vh);
  }
  60% {
    transform: translate(90vw, 0vh);
  }
  62% {
    transform: translate(30vw, 50vh);
  }
  64% {
    transform: translate(70vw, 20vh);
  }
  66% {
    transform: translate(0vw, 70vh);
  }
  68% {
    transform: translate(60vw, 40vh);
  }
  70% {
    transform: translate(100vw, 0vh);
  }
  72% {
    transform: translate(40vw, 80vh);
  }
  74% {
    transform: translate(80vw, 30vh);
  }
  76% {
    transform: translate(20vw, 0vh);
  }
  78% {
    transform: translate(80vw, 100vh);
  }
  80% {
    transform: translate(20vw, 70vh);
  }
  82% {
    transform: translate(60vw, 10vh);
  }
  84% {
    transform: translate(30vw, 90vh);
  }
  86% {
    transform: translate(50vw, 20vh);
  }
  88% {
    transform: translate(90vw, 80vh);
  }
  90% {
    transform: translate(10vw, 30vh);
  }
  92% {
    transform: translate(70vw, 60vh);
  }
  94% {
    transform: translate(0vw, 0vh);
  }
  96% {
    transform: translate(80vw, 20vh);
  }
  98% {
    transform: translate(40vw, 90vh);
  }
    }
  
  
  @keyframes flash {
    0%, 100% {
      color: red;
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    }
    50% {
      color: black;
      text-shadow: 1px 1px 0 red, -1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red;
    }
  }
  